.container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.row3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    

}




